body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfcfc;
}

header {
    background-color: #aaa17b;
    color: white;
    padding: 10px 0;
    text-align: center;
}
image {
    width: 100;
    right: 50;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 254, 251);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(207, 201, 190);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #aaa17b;
    color: white;
}
